<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusão</title>
    <link rel="stylesheet" href="conc.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
</head>
<body>
    
    <div class="navbar">
        <!--<a href="/src/index.html">Apresentação</a>-->
        <a href="template/historia-poo/historia-poo.html">Historia do POO</a>
        <a href="template/historia-dart/historia-dart.html">Historia do Dart</a>
        <a href="template/atributos-dart/atr-dart.html">Atributos do Dart</a>
    </div>

     <!-- Slick Carousel Scripts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
     <script src="conc.js"></script>

    <header>
        <h1>Conclusão</h1>
    </header>


    <div class="fundo">
        <main>
            <section class="content">
                <article>
                    <h2>Conclusão</h2>
                    <br>
                    <p class="introducao">O paradigma orientado a objetos surgiu da necessidade de distribuir uma extensa tarefa entre uma grande equipe, sua primeira versão em linguagem de programação queria trazer uma sintaxe mais compreensível e fácil de ser aprendida por outros programadores. No geral, as mesmas características do passado que a originaram a mantêm como um ótimo recurso para programadores da atualidade. A facilidade em reutilizar partes do código, modificar classes e realizar a manutenção do código com a certeza de que as modificações são restritas ao objeto do contexto, e a facilidade em criar uma harmonia no projeto final programado por uma equipe diversa de programadores, caracterizam o paradigma orientado a objetos.</p>
                </article>
            </section>
            
            <!--<aside class="references">
                <h3>Referências <br></h3>
                <div class="left">
                    <ul>
                        <li><a href="https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=b2x6tLwAAAAJ&citation_for_view=b2x6tLwAAAAJ:zYLM7Y9cAGgC" target="_blank">https://scholar.google.com.br/citations?view_op=view_citation&hl=pt-BR&user=b2x6tLwAAAAJ&citation_for_view=b2x6tLwAAAAJ:zYLM7Y9cAGgC</a></li>
                        <li><a href="https://www.researchgate.net/publication/262882317_Conhecendo_o_Smalltalk_-_Todos_os" target="_blank">https://www.researchgate.net/publication/262882317_Conhecendo_o_Smalltalk_-_Todos_os</a></li>
                        <li><a href="https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk" target="_blank">https://books.google.com.br/books?hl=pt-BR&lr&id=P9IiEAAAQBAJ&oi=fnd&pg=PT5&dq=programa%C3%A7%C3%A3o+orientada+a+objeto&ots=V2Fwdx6pDn&sig=thlZ00A_x23xxgk</a></li>
                        <li><a href="https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf" target="_blank">https://dcc.ufrj.br/~jonathan/smalltalk/Introd-a-POO-com-Smalltalk-1994.pdf</a></li>
                    </ul>
                </div>
                <div class="divider"></div>
                <div class="right">
                    -<ul>
                        <li><a href="https://exemplo.com">Referência 3</a></li>
                        <li><a href="https://exemplo.com">Referência 4</a></li>
                    </ul>

                    <div class="divider"></div>
                    
                </div>
            </aside>-->
            
        </main>
        <!--
        <div class="download-container">
            <a href="pdf/Dart- Atributos e Curiosidades-Victoria.pdf" download="Atributos e Curiosidades" class="download-btn">Baixar PDF</a>
        </div>-->
    </div>
    
    <footer>
        <p class="cy">₢ By Felipe Monteiro Silveira ₢</p>
    </footer>

</body>
</html>
